{% extends "base.html" %}
{% block title %}Home | Thinking Post Training{% endblock %}

{% block content %}

<div id="wallpaper" class="wallpaper" data-image="static/images/cube-background.jpg"></div>





<section class="hero is-primary is-medium is-fullheight" style="background: center top/cover url('');">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-weight-bold mb-6">
        Learning everything Accounting bit by bit.
      </h1>
      <div class="columns is-centered">
        <div class="column is-8">
          <p class="subtitle is-4">
            Thinking Post is your comprehensive partner in accounting training,
            working closely with you and your team to simplify accounting and power accountability.
          </p>
          <button class="button is-light is-large mt-4" hx-get="/contact" hx-target="#content">
            <strong>Enrol</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section py-6 ">
  <div class="container">
    <h2 class="title is-2 section-title mb-6 center  has-text-white">Our Strategic Roles</h2>
    <div class="columns">

      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="icon is-large has-text-primary mb-4">
              <i class="fas fa-handshake fa-3x"></i>
            </div>
            <h3 class="title is-4 has-text-primary">Data Analysis Partner</h3>
            <p class="subtitle is-6 has-text-white">
              We offer training for advanced accounting tools like Excel, Python, PowerBI
              that are necessary to make sense of your accounting information
              ensuring value backed decisions and process visibility.
            </p>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="icon is-large has-text-primary mb-4">
              <i class="fas fa-chess-knight fa-3x"></i>
            </div>
            <h3 class="title is-4 has-text-primary">Personalized Learning Partner</h3>
            <p class="subtitle is-6 has-text-white">
              We offer tailored learning with access to learning material, class recordings
              and instructors for study support.
            </p>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="icon is-large has-text-primary mb-4">
              <i class="fas fa-chart-line fa-3x"></i>
            </div>
            <h3 class="title is-4 has-text-primary">Business Partner</h3>
            <p class="subtitle is-6 has-text-white">
              Our business driven learning solutions offer an opprotunity for your team to skill-up and
              provide newer insights into the problems we already face in business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section  has-text-weight-bold">
  <div class="container has-text-centered">
    <h1 class="title is-1 mb-6 has-text-primary">A passion for learning</h1>
    <p class="subtitle is-4 has-text-white mb-6">
      Learn confidently, precisely and passionately, backed by proven expertise<br>
      and a growing community
    </p>

    <div class="columns is-multiline">
      <!-- Card 1 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">Attention to detail</h2>
            <p class="subtitle is-6 has-text-primary">
              Customized learning with preparation that ensures you have ready material to study, exercises to
              practice, and a community to connect and refer to.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">Time flexibility</h2>
            <p class="subtitle is-6 has-text-primary">
              Do you have an unpredictable schedule? Worry not. We have got you covered with our early morning (6:00
              am - 8:00 pm) and evening (6:00 pm - 8:00 pm) classes.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">Catching up</h2>
            <p class="subtitle is-6 has-text-primary">
              Unavailable for a given class? Catch up with our recorded live classes available immediately after every
              session.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">Accessibility</h2>
            <p class="subtitle is-6 has-text-primary">
              Join online classes from any location with network connectivity.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">No one left behind</h2>
            <p class="subtitle is-6 has-text-primary">
              Are you unfamiliar with all this? Don't worry. You will not be left behind. Surrounded by a learning
              community and a teacher who refuses to leave you behind, what do you have to be afraid of?
            </p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title is-4 has-text-white">Availability</h2>
            <p class="subtitle is-6 has-text-primary">
              Reach out to your course instructor and get real-time feedback and support with your studies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <!-- Header Section -->
    <div class="has-text-centered mb-6">
      <h1 class="title is-1 has-text-weight-bold has-text-white">An array of resources</h1>
      <p class="subtitle is-4 has-text-primary">
        Our comprehensive learning management system guides you access to everything you need for keep track of your
        learning.
      </p>
    </div>


    <div class="columns is-vcentered mb-6">
      <div class="column is-half">
        <figure class="image is-4by3 picture" >
          <div class="picture-shadow"></div>
          <img class="picture-image"
            src="static/images/library.jpg"
            
            alt="Learning materials">
        </figure>
        
      </div>
      <div class="column is-half">
        <div class="content">
          <div class="media">
            <div class="media-left">
              <span class="icon is-large has-text-primary">
                <i class="fas fa-book fa-3x"></i>
              </span>
            </div>
            <div class="media-content ">
              <p class="title is-4 has-text-white">Learning Material</p>
            </div>
          </div>
          <div class="container has-text-white">
            <ul>
              <li>Keep track of all your documents.</li>
              <li>Access on any device.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column is-half">
        <div class="content">
          <div class="media">
            <div class="media-left">
              <span class="icon is-large has-text-success">
                <i class="fas fa-video fa-3x"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-white">Recordings</p>
            </div>
          </div>
          <div class="container has-text-white">
            
            <ul>
              <li>Catch up on missed classes.</li>
              <li>Review previous classes when revising.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <figure class="image is-4by3 picture">
          <div class="picture-shadow"></div>
          <img class="picture-image"
            src="static/images/recording.jpg"
            alt="Recording classes">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <blockquote class="is-size-4 has-text-centered mb-5 has-text-white">
      "Education discovers an increasing richness in the past, because it sees what is unfinished there. ... Education
      leads toward a continuing self-discovery ..."
      <footer class="is-size-5 mt-3 has-text-white">~Carse~</footer>
    </blockquote>
  </div>
</section>

<!-- Main Brand Section -->
<section class="section">
  <div class="container">
    <div class="has-text-centered has-text-weight-bold">
      <p class="title is-4 has-text-centered has-text-primary">Join 200+ students</p>
      <p class="subtitle is-5 has-text-centered has-text-white">
        Learning that puts your professional skills to practice.
      </p>
      <div class="buttons is-centered">
        <a class="button  is-small is-rounded" href="{% url 'user_management:sign_up' %}">
          <strong>Apply Now</strong>
        </a>
      </div>
    </div>
    <div class="container has-text-centered mt-5 ">
      <h3 class="title is-4 has-text-primary">For Businesses</h3>
      <p class="has-text-white">Train your team in essential data analytics skills for modern accounting practice.</p>
      <a href="{% url 'jenga_home:contact_page' %}" class="button is-primary mt-3 is-small is-rounded">Request Firm Pricing</a>
  </div>
                
                

  </div>
</section>

{% endblock %}