{% extends "base.html" %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Welcome to Jenga Shule</h1>
        <h2 class="subtitle">Empowering Education for All</h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h3 class="title is-3">Our Mission</h3>
      <p>We aim to provide quality education and resources to students everywhere.</p>
    </div>
  </section>
{% endblock content %}
