<!-- Footer Navigation -->
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-4 has-text-white">Courses</h3>
        <ul>
          <li><a class="has-text-white" href="{% url 'jenga_home:bda' %}">Business Data Analytics</a></li>
        </ul>
      </div>
      <div class="column">
        <h3 class="title is-4 has-text-white">Company</h3>
        <ul>
          <li><a class="has-text-white" href="{% url 'jenga_home:about' %}">About Us</a></li>
          <li><a class="has-text-white" href="{% url 'jenga_home:index' %}">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="container has-text-centered has-text-white">
      <p>&copy; 2025 Thinking Post Training. All rights reserved.</p>
    </div>
  </div>
</footer>