{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Thinking Post{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>



<body>

    {% block header %}{% endblock %}
    <div id="wallpaper" class="wallpaper" data-image="static/images/cube-background.jpg"></div>



    {% if user.is_authenticated %}
    {% include "student_navbar.html" %}
    {% else %}
    {% include "_base_navbar.html" %}
    {% endif %}

    {% if messages %}
    <div class="container mt-4" id="notification-container">
        {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
            <button class="delete" onclick="this.parentElement.remove()"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    {% endif %}



    {% block content %}{% endblock %}



    {% include "_base_footer.html" %}

</body>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    // Auto-dismiss notifications after 5 seconds
    setTimeout(function () {
        var notifications = document.getElementById('notification-container');
        if (notifications) {
            notifications.remove();
        }
    }, 5000); // 5000 milliseconds = 5 seconds



</script>

</html>