{% extends "base.html" %}
{% load static %}

{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
<section class="hero is-fullheight is-flex is-justify-content-center is-align-items-center">



  <div class="hero-body">
    <div class="login has-text-centered">
      <figure class="image is-128x128 container mb-4">
        <img src="{% static 'images/thinking_shule.jpg' %}" alt="Banner Image 1" style="max-width: 512px;">
      </figure>
      <form method="post">
        {% csrf_token %}
        
        <div class="field">
          <label class="label" for="id_new_password1">New Password</label>
          <div class="control">
            <input class="input is-medium is-rounded" type="password" name="new_password1" id="id_new_password1" value="{{ form.new_password1.value|default_if_none:'' }}" autocomplete="new-password" placeholder="Create a new password (min 8 characters)">
            {% if form.new_password1.errors %}
            <p class="help is-danger">{{ form.new_password1.errors.0 }}</p>
            {% else %}
            <p class="help">Your password must be at least 8 characters long.</p>
            {% endif %}
          </div>
        </div>
        
        <div class="field">
          <label class="label" for="id_new_password2">Confirm New Password</label>
          <div class="control">
            <input class="input is-medium is-rounded" type="password" name="new_password2" id="id_new_password2" value="{{ form.new_password2.value|default_if_none:'' }}" autocomplete="new-password" placeholder="Confirm your new password">
            {% if form.new_password2.errors %}
            <p class="help is-danger">{{ form.new_password2.errors.0 }}</p>
            {% else %}
            <p class="help">Please confirm your new password.</p>
            {% endif %}
          </div>
        </div>
        
        <br />
        <input class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit" value="Confirm">
      </form>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a class="is-link" href="{% url 'soma:student_home' %}">Back to dashboard</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>



{% endblock %}
