{% extends "base.html" %}
{% load static %}


{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}
<section class="hero is-fullheight is-flex is-justify-content-center is-align-items-center">
  <div class="hero-body">
    <div class="login has-text-centered">
      <figure class="image is-128x128 container mb-4">
        <img src="{% static 'images/thinking_shule.jpg' %}" alt="Banner Image 1" style="max-width: 512px;">
      </figure>
      <div class="box">
        Password reset link has been sent to your email.
      </div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a class="is-link" href="{% url 'soma:student_home' %}">Back to dashboard</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>


{% endblock %}
