{% extends "base.html" %}
{% load static %}


{% block title %}Send Password Reset Link{% endblock %}

{% block content %}
<section class="hero is-fullheight is-flex is-justify-content-center is-align-items-center">



  <div class="hero-body">
    <div class="login has-text-centered">
      <figure class="image is-128x128 container mb-4">
        <img src="{% static 'images/thinking_shule.jpg' %}" alt="Banner Image 1" style="max-width: 512px;">
      </figure>
      <form method="post">
        {% csrf_token %}
        
        <div class="field">
          <label class="label" for="id_email">Email address</label>
          <div class="control">
            <input class="input is-medium is-rounded" type="email" name="email" id="id_email" value="{{ form.email.value|default_if_none:'' }}" autocomplete="email" placeholder="Enter your email address">
            {% if form.email.errors %}
            <p class="help is-danger">{{ form.email.errors.0 }}</p>
            {% endif %}
          </div>
        </div>
        
        <br />
        <input class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit" value="Send Reset Link">
      </form>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a class="is-link" href="{% url 'soma:student_home' %}">Back to dashboard</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>



{% endblock %}
