{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Completed{% endblock %}

{% block content %}
<section class="hero is-fullheight is-flex is-justify-content-center is-align-items-center">
  <div class="hero-body">
    <div class="login has-text-centered">
      <figure class="image is-128x128 container mb-4">
        <img src="{% static 'images/thinking_shule.jpg' %}" alt="Banner Image 1" style="max-width: 512px;">
      </figure>
      <div class="box">
        <h2 class="title">Password Reset Completed</h2>
        <p>Your password has been successfully reset. You can now use your new password to log in.</p>
      </div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a class="button is-primary is-rounded" href="{% url 'user_management:login' %}">Log In</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
{% endblock %}
